<div class="container">
  <div class="header">
    <div>
      <h2>Contact List</h2>
    </div>
    <button routerLink="create-user">New Contact</button>
  </div>

  <div class="user-card-container" *ngIf="userService.users.length > 0">
    <app-user-card
      *ngFor="let user of userService.users"
      [id]="user.id"
      [name]="user.name"
      [city]="user.city"
      [emailId]="user.emailId"
      (deleteUser)="deleteUser($event)"
    ></app-user-card>
  </div>
  <div class="no-card-container" *ngIf="userService.users.length == 0">
    <p>
      No contacts found. Try create <a routerLink="/dashboard/create-user" >New Contact</a>.
    </p>    
  </div>
</div>
