<div class="user-detail">
  <div *ngIf="!hasError" class="card">
    <h2>{{ userDetail.name }}</h2>
    <label>Emaild Id : {{ userDetail.emailId }}</label>
    <label> Phone Number : {{ userDetail.phone }}</label>
    <label>Company Name : {{ userDetail.companyName }}</label>
    <div>
      <h3>Address</h3>
      <label>{{ userDetail.street }}</label
      ><br />
      <label>{{ userDetail.city }}</label
      ><br />
      <label>{{ userDetail.zipCode }}</label
      ><br />
    </div>
  </div>
  <div *ngIf="hasError" class="error">
    <span>Unable to show the data</span>
  </div>
</div>
