<div class="login-container">
  <div class="login-card">
    <div class="login-title">
      <h2>SignUp to User APP</h2>
    </div>
    <div class="login-logo">
      <img src="../../../assets/unicourt-logo.png" alt="logo" height="54" />
    </div>
    <form class="login-form" [formGroup]="loginFormBuilder">
      <input placeholder="Enter the username" formControlName="username" />
      <input placeholder="Enter the new password" formControlName="password" />
      <input
        placeholder="Enter the confirm password"
        formControlName="confirmPassword"
      />
      <button class="btn-login">SignUp</button>
    </form>
  </div>
  <div class="sign-up">
    <p>
      Already have an account?
      <span routerLink="/login">Login</span>
    </p>
  </div>
</div>
