<div class="login-container">
  <div class="login-card">
    <div class="login-title">
      <h2>SignUp to Address Book</h2>
    </div>
    <div class="login-logo">
      <img src="../../../assets/unicourt-logo.png" alt="logo" height="54" />
    </div>
    <form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate>
      <input placeholder="First name*" formControlName="firstName" required/>
      <input placeholder="Last name" formControlName="lastName" />
      <input placeholder="Email Id*" formControlName="emailId" type="email" required/>
      <input placeholder="Password*" formControlName="password" type="password" required/>
      <input placeholder="Confirm password*" formControlName="confirmPassword" type="password" required/>
      <button type="submit" class="btn-login" [disabled]="!loginForm.valid">SignUp</button>
    </form>
  </div>
  <div class="sign-up">
    <p>
      Already have an account?
      <span routerLink="/login">Login</span>
    </p>
  </div>
</div>
