<div class="login-container">
  <div class="login-card">
    <div class="login-title">
      <h2>Welcome to User APP</h2>
    </div>
    <div class="login-logo">
      <img src="../../../assets/unicourt-logo.png" alt="logo" height="54" />
    </div>
    <form class="login-form" [formGroup]="loginFormBuilder">
      <input placeholder="Enter the username" formControlName="username" />
      <input placeholder="Enter the password" formControlName="password" />
      <button class="btn-login">Login</button>
    </form>
  </div>
  <div class="sign-up">
    <p>
      Dont have an account?
      <span routerLink="/sign-up">SignUp</span>
    </p>
  </div>
</div>
