<div class="login-container">
  <div class="login-card">
    <div class="login-title">
      <h2>Welcome to Address Book</h2>
    </div>
    <div class="login-logo">
      <img src="../../../assets/unicourt-logo.png" alt="logo" height="54" />
    </div>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="email" placeholder="Enter the username" formControlName="username" />
      <input type="password" placeholder="Enter the password" type="password" formControlName="password" />
      <button type="submit" class="btn-login" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
  <div class="sign-up">
    <p>
      Dont have an account?
      <span routerLink="/sign-up">SignUp</span>
    </p>
  </div>
</div>
